@model List<tb_ocorrencia>
@{
    ViewData["Title"] = "Ocorrencias";
    var FiltroStatus = "Todos";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function atualizarFiltroStatus(valor) {
        FiltroStatus = valor;

        // Use jQuery para mostrar/ocultar as linhas da tabela
        $('tbody[data-status]').hide();

        if (FiltroStatus === 'Todos') {
            $('[data-status]').show(); // Mostrar todas as linhas quando ambos são "Todos"
        } else {
            $('tbody[data-status="' + FiltroStatus + '"]').show(); // Mostrar apenas com base no filtro de status
        }
    }
</script>

<div class="text-center">
    <h1 class="display-4">Painel de Ocorrencias</h1>
    <div class="mb-3" style="display: flex; align-items: center;">

        <label for="status" class="form-label" style="margin-right: 10px; margin-left: 10px;">Status</label>
        <select id="status" class="form-select" style="width: 150px;" onchange="atualizarFiltroStatus(this.value)">
            <option value="Todos">Todos</option>
            <option value="Aberta">Aberta</option>
            <option value="Fechada">Fechada</option>
        </select>

        <a href="@Url.Action("CadastroOcorrencia", "Ocorrencia", new {})">
            <button class="btn btn-primary" type="submit" style="float: right; margin-left: 925px;" onclick="">Cadastrar</button>
        </a>
    </div>

    <table class="table" id="tabelaLampadas">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data de inclusão</th>
                <th scope="col">Data fim</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var ocorrencia in Model)
        {
            <tbody data-status="@ocorrencia.status_ocorrencia">
                <tr>
                    @if (@ocorrencia.status_ocorrencia.Trim() == "Aberta")
                    {
                        <td>
                            <img src="https://img.freepik.com/vetores-premium/icone-de-vetor-de-sinal-verde-correto_547110-418.jpg" alt="Descrição da imagem" width="48" height="48">
                        </td>
                    }
                    else if (@ocorrencia.status_ocorrencia.Trim() == "Fechada")
                    {
                        <td>
                            <img src="https://icones.pro/wp-content/uploads/2021/08/icone-x-avec-cercle-rouge.png" alt="Descrição da imagem" width="48" height="48">
                        </td>
                    }
                    <th scope="row">@ocorrencia.id</th>
                    <td>@ocorrencia.descricao</td>
                    <td>@ocorrencia.data_inclusao</td>
                    <td>@ocorrencia.data_fim</td>
                    <td>@ocorrencia.status_ocorrencia</td>
                    <td>
                        <a href="@Url.Action("DetalhesOcorrencia", "Ocorrencia", new { id_ocorrencia =  ocorrencia.id})">
                            <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/edit.png" alt="Descrição da imagem" width="48" height="48">
                        </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
