@model tb_sensor
@{
    ViewData["Title"] = "Detalhes";
    int id_sensor_substituto = 0;
}

@{
    var ListaSensoresAtivos = ViewBag.ListaSensoresFuncionando as List<tb_sensor>; // Substitua SeuOutroModel pelo tipo correto do outro modelo.
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function AtualizarSensor(valor) {
        this.id_sensor_substituto = valor
    }

    function InformarComoQueimado(id_sensor) {
        if (id_sensor != null) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("InformarSensorComoQueimado", "Home")",
                data: { id_sensor: id_sensor, id_sensor_substituto: this.id_sensor_substituto },
                success: function (response) {
                    window.location.reload();
                    alert(response);
                },
                error: function (error) {
                    alert("Ocorreu um erro na solicitação.");
                }
            });
        }
    }
</script>

<div class="text-center">
    <form>
        <fieldset disabled>
            <legend>Detalhes</legend>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">ID</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.id_sensor>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Nome</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.nome_sensor>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Tipo de sensor</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.tipo_sensor>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Data de inclusão do sensor</label>
                <input type="text" id="disabledTextInput" class="form-control" value="@Model.data_inclusao.ToString("dd/MM/yyyy HH:mm")">
            </div>
            @if (Model.data_fim != null)
            {
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label" style="float: left;">Data de remoção da lâmpada</label>
                    <input type="text" id="disabledTextInput" class="form-control" value="@Model.data_fim?.ToString("dd/MM/yyyy HH:mm")">
                </div>
            }
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Status</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.status_sensor>
            </div>
        </fieldset>
    </form>
    @if (Model.status_sensor != "Queimado")
    {
        @if (Model.tipo_sensor == "Luz")
        {
            <div class="mb-3">
                <select id="comboBox" class="form-select" aria-label="Default select example" onchange="AtualizarSensor(this.value)">
                    <option selected>Selecione um sensor para substituir o atual</option>
                    @foreach (var sensor in ListaSensoresAtivos)
                    {
                        <option value=@sensor.id_sensor>@sensor.nome_sensor</option>
                    }
                </select>
            </div>
        }

        <button class="btn btn-primary" type="submit" onclick="InformarComoQueimado(@Model.id_sensor)">Informar como queimado</button>
    }
</div>
