@model tb_lampada
@{
    ViewData["Title"] = "Detalhes";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function InformarComoQueimada(id_lampada) {
        if (id_lampada != null) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("InformarComoQueimada", "Home")",
                data: { id_lampada: id_lampada },
                success: function (response) {
                    window.location.reload();
                    alert(response);
                },
                error: function (error) {
                    alert("Ocorreu um erro na solicitação.");
                }
            });
        }
    }
</script>

<div class="text-center">
    <form>
        <fieldset disabled>
            <legend>Detalhes</legend>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">ID</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.id_lampada>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Nome</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.nome_lampada>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">ID do sensor vinculado</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.id_sensor>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Situação da lâmpada</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.situacao_lampada>
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Data de inclusão da lampada</label>
                <input type="text" id="disabledTextInput" class="form-control" value="@Model.data_inclusao.ToString("dd/MM/yyyy HH:mm")">
            </div>
            @if (Model.data_fim != null)
            {
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label" style="float: left;">Data de remoção da lâmpada</label>
                    <input type="text" id="disabledTextInput" class="form-control" value="@Model.data_ultima_atualizacao?.ToString("dd/MM/yyyy HH:mm")">
                </div>
            }
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Ligada pela última vez</label>
                <input type="text" id="disabledTextInput" class="form-control" value="@Model.data_ultima_atualizacao?.ToString("dd/MM/yyyy HH:mm")">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Quantidade de acionamentos</label>
                <input type="text" id="disabledTextInput" class="form-control" value="@(Model.quantidade_vezes_ligacao ?? 0)">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label" style="float: left;">Status</label>
                <input type="text" id="disabledTextInput" class="form-control" value=@Model.status_lampada>
            </div>
        </fieldset>
    </form>
    <button class="btn btn-primary" type="submit" onclick="InformarComoQueimada(@Model.id_lampada)">Informar como queimada</button>
</div>
