@model List<tb_lampada>
@{
    ViewData["Title"] = "Home Page";
    int? diferencaEmDias = 0;
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    var FiltroSituacao = "Todos";
    var FiltroStatus = "Todos";
    var FiltroBloco = "Todos";

    function atualizarFiltroSituacao(valor) {
        FiltroSituacao = valor;
        atualizarTabela();
    }

    function atualizarFiltroStatus(valor) {
        FiltroStatus = valor;
        atualizarTabela();
    }

    function atualizarFiltroBloco(valor) {
        FiltroBloco = valor;
        atualizarTabela();
    }

    function atualizarTabela() {
        // Use jQuery para mostrar/ocultar as linhas da tabela
        $('tbody[data-situacao][data-status][data-bloco]').hide();

        $('tbody[data-situacao][data-status][data-bloco]').each(function () {
            var situacao = $(this).data('situacao');
            var status = $(this).data('status');
            var bloco = $(this).data('bloco');

            // Verifica se os filtros correspondem
            if (
                (FiltroSituacao === 'Todos' || situacao === FiltroSituacao) &&
                (FiltroStatus === 'Todos' || status === FiltroStatus) &&
                (FiltroBloco === 'Todos' || bloco === FiltroBloco)
            ) {
                $(this).show(); // Aplicar filtros
            }
        });
    }

    function exibirMensagem() {
        alert("ATENÇÃO: Essa lampada não é ligada a mais de 1 dia, isso pode indicar um problema no local!!!");
    }

</script>

<div class="text-center">
    <h1 class="display-4">Painel de Lampadas</h1>
    <div class="mb-3" style="display: flex; align-items: center;">
        <label for="situacao" class="form-label" style="float: left; margin-right: 10px;">Situação</label>
        <select id="situacao" class="form-select" style="width: 150px;" onchange="atualizarFiltroSituacao(this.value)">
            <option value="Todos">Todos</option>
            <option value="Ligado">Ligado</option>
            <option value="Desligado">Desligado</option>
        </select>

        <label for="status" class="form-label" style="margin-right: 10px; margin-left: 10px;">Status</label>
        <select id="status" class="form-select" style="width: 150px;" onchange="atualizarFiltroStatus(this.value)">
            <option value="Todos">Todos</option>
            <option value="Funcionando">Funcionando</option>
            <option value="Queimado">Queimado</option>
        </select>

        <label for="bloco" class="form-label" style="margin-right: 10px; margin-left: 10px;">Bloco</label>
        <select id="bloco" class="form-select" style="width: 150px;" onchange="atualizarFiltroBloco(this.value)">
            <option value="Todos">Todos</option>
            <option value="BL1">BL1</option>
            <option value="BL2">BL2</option>
            <option value="BL3">BL3</option>
            <option value="BL4">BL4</option>
            <option value="BL5">BL5</option>
            <option value="BL6">BL6</option>
            <option value="BL7">BL7</option>
            <option value="BL8">BL8</option>
            <option value="BL9">BL9</option>
            <option value="BL10">BL10</option>
            <option value="BL11">BL11</option>
            <option value="BL12">BL12</option>
            <option value="BL13">BL13</option>
            <option value="BL14">BL14</option>
            <option value="BL15">BL15</option>
        </select>

        <a href="@Url.Action("CadastroLampada", "Home", new {})">
            <button class="btn btn-primary" type="submit" style="float: right; margin-left: 450px;" onclick="">Cadastrar Lampada</button>
        </a>
    </div>

    <table class="table" id="tabelaLampadas">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Situação</th>
                <th scope="col">Ligada pela última vez</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var lampada in Model)
        {
            {
                if (lampada.status_lampada.Trim() == "Funcionando" && lampada.data_ultima_atualizacao != null)
                {
                    TimeSpan? diferenca = DateTime.Now - lampada.data_ultima_atualizacao;
                    diferencaEmDias = diferenca?.Days;
                }
            }
            <tbody data-situacao="@lampada.situacao_lampada" data-status="@lampada.status_lampada" data-bloco="@lampada.bloco">
                <tr>
                    @if (@lampada.situacao_lampada.Trim() == "Ligado" && @lampada.status_lampada.Trim() == "Funcionando")
                    {
                        <td>
                            <img src="https://cdn-icons-png.flaticon.com/512/3305/3305969.png" alt="Descrição da imagem" width="48" height="48">
                        </td>
                    }
                    else if (@lampada.situacao_lampada.Trim() == "Desligado" && @lampada.status_lampada.Trim() == "Funcionando")
                    {
                        <td>
                            <img src="https://cdn-icons-png.flaticon.com/512/1537/1537466.png" alt="Descrição da imagem" width="48" height="48">
                        </td>
                    }
                    else if (@lampada.status_lampada.Trim() == "Queimado")
                    {
                        <td>
                            <img src="https://cdn-icons-png.flaticon.com/512/812/812926.png" alt="Descrição da imagem" width="48" height="48">
                        </td>
                    }
                    <th scope="row">@lampada.id</th>
                    <td>@lampada.nome</td>
                    <td>@lampada.situacao_lampada</td>
                    <td>@lampada.data_ultima_atualizacao?.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@lampada.status_lampada</td>
                    <td>
                        <a href="@Url.Action("DetalhesLampada", "Home", new { id_lampada =  lampada.id})">
                            <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/edit.png" alt="Descrição da imagem" width="48" height="48">
                        </a>
                    </td>
                    <td>
                        <a>
                            @if (lampada.status_lampada.Trim() == "Funcionando" && lampada.data_ultima_atualizacao != null && diferencaEmDias >= 1)
                            {
                                <img src="https://cdn-icons-png.flaticon.com/512/574/574433.png" alt="Descrição da imagem" width="48" height="48" onclick="exibirMensagem()" style="cursor: pointer;">
                            }

                        </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
